<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">.col-md-4</div>
      <div class="col-sm-4">.col-md-4</div>
      <div class="col-sm-4">.col-md-4</div>
    </div>
    <div class="row hidden-sm-down"> <!-- Hidden on small screens -->
      <div class="col-md-6">.col-md-6</div>
      <div class="col-md-6">.col-md-6</div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-12"><img src="https://via.placeholder.com/1000x700?text=.img-fluid" class="img-fluid" alt="Responsive Image Demo" /></div>
      <div class="col-sm-3 col-xs-12"><img src="https://via.placeholder.com/1000x700" class="img-fluid" alt="Responsive Image Demo" /></div>
      <div class="col-sm-3 col-xs-12"><img src="https://via.placeholder.com/1000x700?text=.img-fluid" class="img-fluid" alt="Responsive Image Demo" /></div>
      <div class="col-sm-3 col-xs-12"><img src="https://via.placeholder.com/1000x700" class="img-fluid" alt="Responsive Image Demo" /></div>
    </div>
  </div>
</div>
